@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* height: 200vh; */
    transition: .6s ease;
    overflow-x: hidden !important;
}

body.light-mode {
    background-color: var(--bg-content);
    color: var(--text-dark);
}

body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

:root {
    --primary-color: #D92526;
    --footer-color: #8e0e0e;
    --primary-hover: #b91919;
    --text-light: #f7f7f7;
    --text-dark-secondary: #606060;
    --text-secondary: #6c757d;
    --text-dark: #333;
    --text-gradient: linear-gradient(to bottom, #D92526, #ed6a2e);
    --bg-gradient: linear-gradient(to bottom, #941111, #c54a15);
    --bg-gradient-hover: linear-gradient(to bottom, #7c0e0e, #b2400f);
    --bg-content: #fff;
    --bg-content-secondary: #F4F6FF;
    --bg-dark: #333;
    --bg-dark-secondary: #424242;
    --third-color: #F7881E;
    --third-color-hover: #e07918;
    --fourth-color: #e3b342;
    --bg-card: #f4f6ff9f;
    --small-shadow: rgba(0, 0, 0, 0.045);

    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
}

/* DARK MODE  */

::selection {
    background-color: var(--fourth-color);
    /* color: var(--text-light);  */
}

::-webkit-selection {
    background-color: var(--primary-color);
    color: var(--text-light);
}

::-webkit-scrollbar {
    display: none;
}

/* BUTTON CLASS */

.btn-eytho {
    padding: 1vw 5vh;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}


.btn-eytho-s {
    padding: 1.4vh 1.3vw;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero-btn a {
    font-family: "Manrope", serif;
}

.btn-primary {
    /* background-color: var(--third-color); */
    background: var(--bg-gradient);
    color: var(--text-light);
    transition: background .4s ease;
}

.btn-primary:hover {
    background: var(--bg-gradient-hover);
}

.btn-primary svg {
    margin-left: 10px;
    transition: transform 0.3s;
}

.btn-primary:hover svg {
    transform: translateX(5px);
}

.btn-primary:active {
    /* transform: translateY(4px); */
    /* box-shadow: 0 2px #9b520d; */
}

/* Styling untuk button */
.btn-watch-video {
    color: var(--text-dark);
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
    padding: 1px 15px;
    display: flex;
    align-items: center;
    position: relative;
    transition: .6s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-watch-video:hover {
    color: #F7881E;
}

.icon-container {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.btn-watch-video svg {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: opacity 0.3s ease;
}

.play-icon {
    opacity: 1;
}

.pause-icon {
    opacity: 0;
}

.btn-watch-video:hover .play-icon {
    opacity: 0;
}

.btn-watch-video:hover .pause-icon {
    opacity: 1;
}

/* Modal Styles */
.hero-btn .modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.865);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.hero-btn .modal-content {
    position: relative;
    background: var(--bg-gradient);
    border-radius: 5px;
    max-width: 900px;
    width: 100%;
    padding: 5px;
}

.hero-btn .modal-content video {
    width: 100%;
    border-radius: 5px;
}

.hero-btn .close {
    position: absolute;
    top: -55px;
    right: -285px;
    color: #fff;
    background: rgba(0, 0, 0, 0.322);
    border: none;
    font-size: 20px;
    border-radius: 3px;
    z-index: 2000;
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn .close svg {
    fill: red;
}


.btn-outline {
    background-color: transparent;
    border: 1px solid var(--third-color);
    /* border-image: var(--bg-gradient) 1; */
    border-radius: 5px;
    color: var(--third-color);
    transition: .3s ease;
}

.btn-outline:hover {
    background-color: var(--third-color);
    color: var(--text-light);
}

.btn-outline svg {
    margin-left: 10px;
    transition: transform 0.3s;
}

.btn-outline:hover svg {
    transform: translateX(5px);
}

.btn-outline:active {
    /* transform: translateY(4px); */
    /* box-shadow: 0 2px #9b520d; */
}


/* NAVBAR CSS */
.navbar {
    z-index: 10;
    padding: 40px 10px !important;
    transition: .6s ease;
    position: fixed;
}

.navbar.fixed {
    padding: 15px 10px !important;
    box-shadow: 0px -18px 30px black;
    color: var(--primary-color);
    background-color: var(--bg-content);
    /* DELETE NANTI */
}

.navbar.fixed.light-mode {
    background-color: var(--bg-content);
}

.navbar.fixed.dark-mode {
    background-color: var(--bg-dark);
}

.navbar.fixed .nav-text,
.navbar.fixed .nav-user {
    color: var(--primary-color);
}

.navbar .logo {
    /* filter: brightness(0) invert(1); */
    transition: .6s ease;
}

.navbar.fixed .logo {
    filter: brightness(1) invert(0);
}

.navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20rem;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list {
    margin-bottom: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list .nav-text,
.nav-user {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: .3s ease;
    text-transform: capitalize;
    white-space: nowrap;
    font-family: "Teko", serif;

}

.nav-list .nav-text:hover {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 22px;
}

.nav-text.active {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.logo-menu,
.close-menu {
    display: none;
}

.svg-focused {
    outline: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 7px #D92526;
}


/* CONTENT CSS */
.scroll-watcher {
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    width: 100%;
    scale: 0 1;
    border-radius: 100px;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

.hero-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-content-secondary);
    padding: 2rem 1rem;
}

.hero-section.light-mode {
    background-color: var(--bg-content-secondary);
    color: var(--text-dark);
}

.hero-section.dark-mode {
    background-color: #434343;
    color: var(--text-light);
}


.hero-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    font-family: 'Manrope', serif;
}

.hero-img-title img {
    width: 500px;
    animation: float 5s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes wave {

    0%,
    100% {
        border-radius: 66% 44% 57% 63% / 57% 41% 69% 43%;
    }

    50% {
        border-radius: 56% 74% 51% 49% / 42% 53% 47% 78%;
    }
}

.hero-title {
    flex: 1;
    max-width: 50%;
    text-align: left;
}

.hero-title .title h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 700;
    color: #333;
}

.hero-title .eytho-logos img {
    width: 10vw;
    padding-bottom: 10px;
}


.hero-title .title h1 span {
    display: inline;
    text-align: center;
}

.hero-title .title p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.hero-btn {
    display: flex;
    gap: 0.5rem;
    justify-content: left;
    align-items: center;
    margin-top: 5vh;
}

.hero-btn .first-section,
.hero-btn .second-section {
    /* flex: none; */
    width: auto;
}

.hero-btn .first-section {
    width: 30%;
    height: auto;
}

.hero-img-title {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.hero-img-title img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

/* .content-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -10vh;
    padding-block: 1rem;
    padding-inline: 0;
    transition: .6s ease;

}

.content-wrapper.light-mode {
    background-color: var(--bg-content);
}

.content-wrapper.dark-mode {
    background-color: var(--bg-dark);
}

.inner-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 2rem;
    background-color: transparent;
} */


.eytho-img-pattern {
    position: absolute;
    /* Menempatkan elemen relatif terhadap .hero-img-title */
    z-index: 1;
    /* Pastikan elemen berada di belakang hero-img-title */
    top: 50%;
    /* Posisikan secara vertikal relatif ke tengah hero-img-title */
    left: 50%;
    /* Posisikan secara horizontal relatif ke tengah hero-img-title */
    transform: translate(23%, -65%);
    /* Gunakan transform untuk benar-benar menempatkan di tengah */
    background-image: url(../assets/images/logo-eytho-only.png);
    background-size: cover;
    /* Agar gambar mengisi elemen sepenuhnya */
    background-repeat: no-repeat;
    /* Hindari pengulangan gambar */
    width: 27%;
    /* Responsif berdasarkan ukuran parent */
    height: 61%;
    /* Responsif berdasarkan ukuran parent */
    opacity: 0.3;
    /* Pastikan transparansi tetap 50% */
    pointer-events: none;
    /* Agar elemen ini tidak mengganggu interaksi pengguna */
    filter: drop-shadow(0px 0px 50px var(--primary-color));
}

.eytho-img-pattern img {
    width: 235px;
    height: auto;
    opacity: 40%;
}

.about-us {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: .6s ease;
    padding-inline: 2rem;
    position: relative;
    background: var(--bg-content);
}

.about-us .top-waves {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-40%);
    fill: var(--bg-content);
    transition: .6s ease;
}

.about-us .top-waves.light-mode {
    fill: var(--bg-content);
}

.about-us .top-waves.dark-mode {
    fill: var(--bg-dark);
}

.about-us.light-mode {
    background-color: var(--bg-content);
    color: var(--text-dark);
}

.about-us.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.about-us-content {
    padding: 3vh 5vw 7vw 5vw;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    z-index: 1;
}

.about-us-img {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
}

.about-us-img .eytho-logo img {
    width: 35%;
    height: auto;
    position: relative;
}

.about-us-img .eytho-logo {
    position: relative;
    bottom: 5%;
}

.about-us-img .eytho-logo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 20%;
    height: 3px;
    background-color: var(--primary-color);
}

.about-us-description {
    flex: 2;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.about-us-description .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.about-us-description .total-prize {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 1.3rem;
}

.about-us-description .title h1 {
    font-family: "Manrope", serif;
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: bold;
}

.about-us-description p {
    font-family: "Manrope", serif;
    font-size: 17px;
    margin-bottom: 0;
}

.about-us-description .title img {
    width: 100px;
    animation: spin1 30s linear infinite;
}

@keyframes spin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.about-us-description h3 {
    font-size: 2rem;
    font-weight: 500;
}


.shine-wrapper {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
}

.about-us-content .box .pattern img {
    width: 110px;
    animation: floating-pattern 5s ease-in-out infinite;
}

@keyframes floating-pattern {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.about-us-content .box .pattern {
    position: absolute;
    top: 5%;
    left: 75%;
    transition: .6s ease;
}

.about-us-content .box .pattern.light-mode {
    opacity: 18%;
}

.about-us-content .box .pattern.dark-mode {
    opacity: 20%;
    filter: invert(1);
}

.benefit .money-bag,
.benefit .plakat-ezzy {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1vh;

}

.benefit .money-total {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefit .money-bag svg,
.benefit .plakat-ezzy svg {
    width: 35px;
}

.text-shine {
    font-size: 1rem;
    font-family: 'Manrope', serif;
    color: rgba(53, 53, 53, 0.3);
    background: #222 -webkit-gradient(linear,
            left top,
            right top,
            from(#222),
            to(#222),
            color-stop(0.5, white)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-40deg,
            transparent 0%,
            transparent 40%,
            white 50%,
            transparent 60%,
            transparent 100%);
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;

    fill: var(--text-dark);
}

@-webkit-keyframes zezzz {

    0%,
    10% {
        background-position: -200px;
    }

    20% {
        background-position: top left;
    }

    100% {
        background-position: 100%;
    }
}

.line-about {
    border-top: 3px solid var(--primary-color);
    /* Garis */
    width: 20%;
}

.ribbon-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.ribbon-wrapper .card {
    width: 25vw;
    height: 30vh;
    background-color: var(--bg-content-secondary);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px #d925266b;
}

.ribbon-wrapper .content {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ribbon-wrapper .first,
.ribbon-wrapper .second,
.ribbon-wrapper .third {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ribbon-wrapper .first img,
.ribbon-wrapper .second img,
.ribbon-wrapper .third img {
    width: 40px;
}



.ribbon-wrapper h3 {
    font-family: 'Manrope', serif;
    font-size: 1.3vw;
    font-weight: bold;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.ribbon {
    width: 413px;
    position: absolute;
    margin-top: 0;
    margin-left: -15px;
    text-align: center;
    font-size: 15px !important;
    background: var(--primary-color);
    /* box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; */
    font-family: 'Manrope', serif;
}

.ribbon span {
    font-size: 27px !important;
    /* color: #801111; */
    color: white;
    font-weight: bold;
    text-shadow: black 0 1px 0;
    margin: 0px;
    padding: 19px 10px;
    text-transform: uppercase;
}

.ribbon:before,
.ribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid var(--primary-color);
    z-index: -1;
}

.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px; */
}

.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px; */
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
    border-color: var(--primary-hover) transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
    margin-top: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5); */
}

.ribbon-stitches-bottom {
    margin-bottom: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3); */
}


.the-buttons .registrasi,
.the-buttons .rules {
    padding: 2vh 3vw; 
}

.the-buttons {
    display: flex;
    justify-content: start;
    gap: 2vh;
    margin-top: 5vh;
}







.shine-wrapper .shine-box .box,
.shine-wrapper .unshine-box .box {
    text-align: left;
    padding: 20px;
}

.shine-box {
    position: relative;
    flex: 1;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Manrope", serif;
    transition: .6s ease;
    background: var(--bg-content-secondary);

}

.shine-box.light-mode {
    background: var(--bg-content-secondary);
    color: var(--text-dark);
}

.shine-box.dark-mode {
    background-color: var(--bg-dark-secondary);
    color: var(--text-light);
}

.unshine-box {
    position: relative;
    background: var(--bg-content-secondary);
    color: var(--text-dark);
    flex: 1;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Manrope", serif;
    transition: .6s ease;
}

.unshine-box.light-mode {
    background-color: var(--bg-content-secondary);
    color: var(--text-dark);
}

.unshine-box.dark-mode {
    background-color: var(--bg-dark-secondary);
    color: var(--text-light);
}

.unshine-box .rank-img {
    width: 35px;
}

.unshine-box .box p {
    font-size: 1.1rem;
}

.unshine-box .box .present-count {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
}

.shine-box::before {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 223, 0, 0) 0%,
            rgba(255, 217, 0, 0.163) 50%,
            rgba(255, 223, 0, 0) 100%);
    transform: skewX(-25deg);
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.present-lomba {
    padding-inline: 2rem;
}

.present-lomba-content {
    padding: 0 5rem 5rem 5rem;
    /* padding: 5rem 3rem 1rem 3rem; */
    max-width: 1400px;
    margin: 0 auto;
}

.present-lomba-content h3 {
    font-family: "Teko", serif;
    font-weight: 500;
    font-size: 3.3rem;
}

.present-lomba-content p {
    font-family: "Manrope", serif;
    font-size: 16px;
}

.present-lomba-content .box .pattern img {
    width: 200px;
    animation: floating-pattern 5s ease-in-out infinite;
}

@keyframes floating-pattern {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.present-lomba-content .box .pattern {
    position: absolute;
    top: 5%;
    left: 66%;
    transition: .6s ease;
}

.present-lomba-content .box .pattern.light-mode {
    opacity: 18%;
}

.present-lomba-content .box .pattern.dark-mode {
    opacity: 20%;
    filter: invert(1);
}

/* HOOK REGIST */

.hook-regist {
    padding-inline: 2rem;
    position: relative;
}



.hook-regist-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 5rem 5rem 5rem;
}

.hook-box {
    background: var(--bg-gradient);
    border-radius: 10px;
    /* height: 50vh; */
    position: relative;
    overflow: hidden;
}


.hook-box .box {
    padding: 50px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hook-box .box h3 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Teko", serif;
    color: var(--text-light);
    margin-bottom: 0;
}

.hook-box .box .box-p {
    width: 40%;
}

.hook-box .box .box-p p {
    font-family: "Manrope", serif;
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 1rem;
}

.hook-box .pattern {
    position: absolute;
    top: -20%;
    left: 87%;
}

.hook-box .pattern img {
    width: 250px;
    filter: invert(1);
    opacity: 20%;
    animation: hook-spin 15s linear infinite;
}

@keyframes hook-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.regist-button {
    margin-bottom: 1rem;
}

.btn-regist {
    background-color: var(--bg-content);
    color: #D92526;
    transition: .3s;
    border: 2px solid #D92526;
    box-shadow: 0 0px 10px #7a3c034a;
}

.btn-regist:hover {
    background-color: var(--bg-content-secondary);
}

.btn-regist svg {
    margin-left: 10px;
    transition: transform 0.3s;
}

.btn-regist:hover svg {
    transform: translateX(5px);
}

.regist-now {
    position: relative;
    top: 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.regist-now.bg {
    background-image: url('../assets/images/hero-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    box-shadow: inset 1px 5px 100px 10px rgba(0, 0, 0, 0.241);
}

.regist-now .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, #380000, #531801, #7D3500); */
    /* background: var(--primary-color); */
    background: #471501;
    mix-blend-mode: multiply;
}

.regist-now-content {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.regist-now-content .text {
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.regist-now-content .text h1 {
    margin: 0;
    font-size: 6rem;
    /* font-weight: 800; */
    text-transform: uppercase;
    font-family: "Teko", serif;
    color: var(--text-light);
}

.regist-now-content .text p {
    /* margin: 10px 0 0; */
    font-size: 19px;
    font-family: "Manrope", serif;
    color: var(--text-dark-secondary);
}

.regist-now-content .image {
    flex-shrink: 0;
}

.regist-now-content .image img {
    max-width: 350px;
    height: auto;
}


.unshine-box {
    position: relative;
    flex: 1;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Manrope", serif;
    transition: .6s ease;
}


@keyframes bounceInUp {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    60% {
        transform: translateY(-30px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideExitDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
}


.competition {
    padding-inline: 2rem;
    position: relative;
    z-index: 0;
}

.competition-content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.competition-content-title .left h1 {
    font-family: 'Teko', serif;
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--text-dark);
}

.competition-content-title .left p {
    color: var(--text-dark-secondary);
}

.competition-content-title .right img {
    width: 150px;
    animation: spinner 20s infinite linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.competition-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1vh 5vw 1vh 5vw;
}

.competition-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.competition .content {
    display: flex;
    align-items: center;
    gap: 15rem;
    position: relative;
}

.competition .content-left {
    flex-direction: row;
}

.pattern-img {
    position: absolute;
    left: 193px;
    top: 3%;
}

.pattern-img img {
    width: 20%;
    transform: scaleX(-1);
}

.competition .content-right {
    flex-direction: row-reverse;
    position: relative;
}

.content-right .image-stack .rectangle {
    position: absolute;
    top: -90px;
    left: -80px;
    fill: var(--primary-color);
}

.content-right .image-stack .rectangle svg {
    width: 250px;
    height: 250px;
}

.competition .image-stack {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.competition .content-left .image-stack img:nth-child(1) {
    position: absolute;
    z-index: 3;
    transform: translate(250px, -35px);
    width: 75%;
    border-radius: 5px;
}

.competition .content-left .image-stack img:nth-child(2) {
    position: absolute;
    z-index: 2;
    transform: translate(0, -115px);
    width: 100%;
    border-radius: 5px;
}

.competition .content-left .image-stack img:nth-child(3) {
    position: absolute;
    z-index: 1;
    transform: translate(-40px, -10px);
    width: 60%;
    border-radius: 5px;
}

.competition .content-right .image-stack img:nth-child(1) {
    position: absolute;
    z-index: 3;
    transform: translate(-145px, -85px);
    width: 90%;
    border-radius: 5px;
}

.competition .content-right .image-stack img:nth-child(2) {
    position: absolute;
    z-index: 3;
    transform: translate(20px, 10px);
    width: 80%;
    border-radius: 5px;
}

.competition .content-right .image-stack img:nth-child(3) {
    position: absolute;
    z-index: 1;
    transform: translate(40px, -10px);
    width: 65%;
    border-radius: 5px;
}

.competition .text {
    flex: 2;
    z-index: 2;
}

.competition .title-wrapper {
    display: flex;
    gap: 2rem;
}

.competition .number {
    font-size: 2.5rem;
    font-family: 'Manrope', serif;
    font-weight: bold;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.competition .text h4 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Teko', serif;
}

.competition .text .title-header {
    font-size: 2.5rem;
    color: var(--text-dark);
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Manrope', serif;
    text-transform: capitalize;
    position: relative;
}

.competition .text .title-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10%;
    height: 2px;
    background-color: var(--primary-color);
}

.competition .text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.competition .btn {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.competition .btn:hover {
    background-color: #e55a00;
}

.read-more {
    position: relative;
    margin: auto;
    padding: 14px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}

.read-more:before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--third-color);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.read-more span {
    position: relative;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--text-dark);
}

.read-more svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--text-dark);
    stroke-width: 1.3;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.read-more:hover:before {
    width: 100%;
    background: var(--third-color);
}

.read-more:hover svg {
    transform: translateX(0);
}

.read-more:active {
    transform: scale(0.95);
}



/* Location Section */
.location {
    background-color: var(--bg-content-secondary);
    position: relative;
    bottom: 6%;
    margin-top: 50vh;
    z-index: 0;
}

.location .eytho-pattern {
    background-image: url(../assets/images/logo-eytho-only.png);
    background-size: cover;
    width: 17%;
    height: 40vh;
    position: absolute;
    z-index: 1;
    top: -40%;
    left: -8%;
    opacity: 40%;
}

.location-wrapper {
    padding: 1rem 5rem 5rem 5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.location .top-waves {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-97%);
    fill: var(--bg-content-secondary);
}

.location .bottom-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(90%);
    fill: var(--bg-content-secondary);
}

.location-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.location-content .map {
    flex: 2;
    height: 400px;
    border: none;
    border-radius: 10px;
}

.location-content .info {
    flex: 1;
    position: relative;
    background: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    text-shadow: 0px 1px 1px var(--text-dark);
}

.location-content .info .eytho-logo {
    position: absolute;
    right: -11rem;
}

.location-content .info .eytho-logo img {
    width: 400px;
    opacity: 25%;
    filter: drop-shadow(1px 4px 1px var(--bg-dark));

}

.location h1 {
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: 'Teko', serif;
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

.location .support-text {
    position: relative;
    text-align: center;
    z-index: 2;
    padding-bottom: 10px;
    font-family: 'Manrope', serif;
    color: var(--text-dark-secondary);
}

.location-content .info h3 {
    /* margin-bottom: 15px; */
    font-size: 4rem;
    font-family: 'Teko', serif;
    font-weight: 600;
    color: var(--text-light);
    z-index: 1;
}

.location-content .info .find-us {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-light);
    font-family: 'Manrope', serif;
    z-index: 1;
}

.location .addres {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 3rem;
}

.location .located {
    font-family: 'Manrope', serif;
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    display: flex;
    gap: 5px;
    z-index: 1;
    align-items: center;
}

.location .located svg {
    width: 30px;
    height: 30px;
    fill: var(--text-dark);
}


.location-content .info a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #f9a825;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.location-content .info a:hover {
    background-color: #f57f17;
    color: white;
}





.footer {
    background-color: var(--footer-color);
    color: var(--text-light);
    padding: 40px 0 10px 0;
    font-family: 'Manrope', serif;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    z-index: 0;
}

.footer .footer-wrapper {
    max-width: 1400px;
    padding-inline: 5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.footer-section {
    flex: 1;
    min-width: 180px;
}

.footer-logo {
    width: 320px;
    margin-bottom: 15px;
    /* filter: brightness(0) invert(1); */
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.511));
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--text-light);
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #cdcdcd;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--third-color);
}

.social-icons a {
    margin-right: 10px;
    color: var(--text-light);
    font-size: 18px;
    text-decoration: none;
    transition: .3s ease;
}

.social-icons a:hover {
    color: var(--third-color);
}

.footer-bottom {
    border-top: 1px solid #cdcdcd;
    margin-top: 20px;
    padding-top: 15px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.footer-bottom a {
    color: var(--text-light);
    text-decoration: none;
    margin: 0 5px;
}








#backToTop {
    position: fixed;
    bottom: 120px;
    right: 28px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: .3s, opacity 1s ease, visibility 1s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop.hide {
    opacity: 0;
    visibility: hidden;
}

#backToTop:hover {
    background-color: var(--primary-hover);
    transform: translateY(-3px);
    transition: .2s ease;
}

#backToTop svg {
    stroke: var(--text-light);
    transition: .2s ease;
    width: 24px;
    height: 24px;
}

#backToTop svg:hover {
    transform: translateY(-3px);
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
    animation: bounceInUp 0.6s ease forwards;
}

#backToTop.hide {
    animation: slideExitDown 1s ease forwards;
    visibility: visible;
}

.floating {
    height: 100vh;
    display: grid;
    place-items: center;
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    z-index: 1000;
    transition: left .5s ease;
}

.floating__container {
    position: relative;
}

.floating__toggle,
.floating__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.floating__toggle {
    width: 50px;
    height: 50px;
    color: var(--text-light);

    position: relative;
    z-index: 10;
    cursor: pointer;
}

.floating__toggle svg {
    animation: rotate-animation 1s infinite linear;
    width: 35px;
    height: 35px;
}

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body.no-scroll {
    overflow: hidden;
}

body.scroll-disabled {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.371);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.floating__icon,
.floating__link {
    width: 50px;
    height: 50px;
}

.floating__icon {
    font-size: 1rem;
    color: var(--text-light);
    transition: box-shadow 0.3s ease-in-out;
}

.floating__icon:hover {
    /* box-shadow: 4px 4px 16px hsl(234, 48%, 98%), -4px -4px 16px hsl(234, 48%, 90%), inset -4px -4px 16px hsl(234, 48%, 98%), inset 4px 4px 16px hsl(234, 48%, 90%); */
}

.floating__link {
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
    z-index: 1;
}

.floating__link:nth-child(1) {
    transition-delay: 0.1s;
}

.floating__link:nth-child(2) {
    transition-delay: 0.2s;
}

.floating__link:nth-child(3) {
    transition-delay: 0.3s;
}

.active.floating__toggle span {
    transform: rotate(135deg);
}

.active~ul .floating__link {
    opacity: 1;
}

.active~ul .floating__link:nth-child(1) {
    transform: translate(3.5rem, -3.5rem);
}

.active~ul .floating__link:nth-child(2) {
    transform: translate(5.5rem);
}

.active~ul .floating__link:nth-child(3) {
    transform: translate(3.5rem, 3.5rem);
}

.active.floating__toggle span {
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 500px) {
    .scroll-watcher {
        height: 2px;
    }


    .navbar {
        z-index: 10;
        padding: 2vh 2vw !important;
        transition: .6s ease;
        margin-bottom: 1vh;
        margin-bottom: 2rem;
    }

    .navbar.fixed {
        padding: 2.1vh 2vw !important;
        background-color: var(--bg-content);
        box-shadow: 0px -18px 30px black;
    }

    .navbar.fixed .wrapper .menu-toggle .bar {
        stroke: var(--primary-color);
    }

    .navbar .logo {
        filter: none;
    }

    .navbar .wrapper .menu-toggle .bar {
        stroke: var(--primary-color);
    }

    .navbar .wrapper {
        width: 100%;
        gap: 3em;
    }

    .wrapper .logo img {
        width: 150px;
    }

    .nav-list {
        overflow-y: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 55px;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -945px;
        z-index: 0;
        background-color: var(--bg-content);
        transition: left .7s ease-in-out;
        padding: 5px;
        padding-bottom: 3rem;
        transition: .6s ease;
    }

    .nav-list.light-mode {
        background-color: var(--bg-content);
    }

    .nav-list.dark-mode {
        background-color: var(--bg-dark);
    }

    .nav-list .nav-text,
    .nav-list .nav-user {
        font-size: 19px;
        font-weight: 600;
        color: var(--primary-color);
        padding: 10px;
    }

    .nav-list .nav-text:hover {
        font-size: 19px;
        font-weight: 600;
    }

    .nav-list.active {
        left: 0;
        /* width: 111vw; */
        /* height: 112vh; */
        z-index: 3;
    }

    .nav-list .active {
        font-size: 22px;
        font-weight: bold;
    }

    .nav-list .active:hover {
        font-size: 22px;
        font-weight: bold;
    }

    .menu-toggle {
        display: flex;
    }

    .logo-menu {
        display: block;
        background-color: transparent;
        width: 200px;
    }

    .close-menu {
        cursor: pointer;
        display: block;
    }









    /*  HERO SECTION */
    .eytho-img-pattern {
        width: 80%;
        
        height: 30%;
        
        top: 84%;
        
        left: 50%;
        
        transform: translate(-50%, -50%);
        
    }

    .btn-eytho {
        padding: 2vh 6vw;
        
        font-size: 0.9rem;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        margin-top: 4rem;
    }

    .hero-section .eytho-logos img {
        width: 30%;
    }

    .hero-title {
        max-width: 100%;
        text-align: center;
    }

    .hero-title .title h1 {
        font-size: 2rem;
    }

    .hero-title .title p {
        font-size: 0.9rem;
    }

    .hero-btn {
        justify-content: center;
        
        gap: 0.4rem;
        
        align-items: center;
    }

    .hero-btn .first-section {
        width: 39%;
    }

    .hero-btn .first-section,
    .hero-btn .second-section {
        width: 45%;
    }

    .hero-img-title {
        max-width: 100%;
        z-index: 2;
    }

    .hero-img-title img {
        max-width: 300px;
    }







    
    .about-us {
        flex-direction: column;
        padding-inline: 1rem;
    }

    .about-us-content {
        flex-direction: column;
        padding: 2vh 2vw;
    }

    .about-us-img {
        min-width: 100px;
        max-width: 100%;
    }

    .about-us-description {
        padding-left: 0;
        margin-top: 2vh;
    }

    .about-us-description .title h1 {
        font-size: 1.8rem;
    }

    .about-us-description p {
        font-size: 15px;
    }

    .about-us-description .total-prize {
        font-weight: 900;
        font-size: 1rem;
    }

    .ribbon span {
        font-size: 18px !important;
        padding: 10px 5px;
    }

    .ribbon:before,
    .ribbon:after {
        border-width: 1em;
    }

    .ribbon::before {
        left: -1em;
    }

    .ribbon::after {
        right: -1em;
    }

    .ribbon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;  
        padding: 4vh 0;   
        margin: 0;
        flex-direction: column;
        gap: 1rem;
    }
    

    .ribbon-wrapper .card {
        width: 90%;
        height: auto;
        margin: 0 auto;
        max-width: 400px;
    }


    .ribbon-wrapper .card .ribbon {
        width: 87vw;
        font-size: 16px;
        text-align: center;
    }

    .ribbon-wrapper .content {
        padding-inline: 1rem;
        padding-block: 1rem;
        padding-block-start: 3rem;
    }

    .ribbon-wrapper .first,
    .ribbon-wrapper .second,
    .ribbon-wrapper .third {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .ribbon-wrapper .first img,
    .ribbon-wrapper .second img,
    .ribbon-wrapper .third img {
        width: 30px;
    }

    .ribbon-wrapper h3 {
        font-size: 4.3vw;
    }


    .about-us-content .box .pattern img {
        width: 80px;
    }

    .the-buttons .registrasi {
        padding: 2vh 26vw; 
    }

    .the-buttons .rules {
        padding: 2vh 23.7vw; 
    }

    .the-buttons {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    

    

    .competition {
        padding-block-start: 5vh;
        padding-inline: 0;
    }

    .competition .content {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .competition-content-wrapper {
        gap: 3em;
        padding-block-start: 6vh;
    }

    .competition .title-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .competition-content-title {
        flex-direction: column-reverse;
        text-align: center;
    }

    .competition-content-title .left h1 {
        font-size: 3rem;
    }

    .competition-content-title .right img {
        width: 100%;
        max-width: 50vw; /* Membatasi gambar hingga setengah viewport lebar */
        height: auto; /* Menjaga aspek rasio gambar */
    }

    .competition .content {
        flex-direction: column;
        gap: 2rem;
    }

    .competition .content-left,
    .competition .content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .competition .content-left .image-stack img,
    .competition .content-right .image-stack img {
        width: 100%; /* Gambar menyesuaikan lebar container */
        max-width: 100%; /* Tidak melebihi lebar container */
        height: auto; /* Menjaga proporsi gambar */
        margin: 0;
        transform: translate(0, 0);
    }

    .competition .content-left .image-stack img:nth-child(1),
    .competition .content-left .image-stack img:nth-child(3),
    .competition .content-right .image-stack img:nth-child(1),
    .competition .content-right .image-stack img:nth-child(3) {
        display: none;
    }

    .competition .content-left .image-stack img:nth-child(2),
    .competition .content-right .image-stack img:nth-child(2) {
        transform: translate(0, 0); 
        box-shadow: -24px 20px 1px var(--primary-color);
    }

    .competition .content-right .image-stack img:nth-child(2) {
        width: 100%;
    }

    .content-left .pattern-img {
        top: -2.5em;
        right: -1em;
    }

    .content-left .pattern-img {
        transform: scaleX(1);
    }

    .content-right .image-stack .rectangle {
        top: -8.7vh;
        left: -9.5vw;
        display: none;
    }

    .competition .pattern-img img {
        width: 100%; 
        transform: scaleX(1); 
    }

    .competition .text {
        margin-top: 14em;
    }

    .competition .text h4 {
        font-size: 1.2rem; 
    }

    .competition .text .title-header {
        font-size: 2rem; 
    }


    .competition .btn {
        padding: 8px 16px; 
        font-size: 14px; 
    }

    .read-more {
        padding: 0 0;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: var(--third-color);
        text-transform: capitalize;
        z-index: 3;
    }

    .read-more span {
        font-size: 14px; 
    }

    .read-more svg {
        width: 18px; 
        stroke: var(--third-color);
    }



    .read-more:before {
        background: transparent;
        width: 100%;
        height: 40px;
        transition: all 0.3s ease;
    }

    .read-more span {
        color: var(--third-color);
        position: relative;
        font-family: "Manrope", serif;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .read-more:hover:before {
        background: transparent;
    }

    .read-more:hover:before {
        background: transparent;
    }








    .location {
        margin-top: 10vh; 
        padding: 0 1vw; 
        padding-block-end: 5vh;
        bottom: 0; 
    }

    .location .eytho-pattern {
        width: 38%; 
        height: 18vh; 
        top: -8%; 
        left: -15%; 
        opacity: 0.3; 
    }

    .location-wrapper {
        padding: 1rem; 
    }

    .location-content {
        flex-direction: column; 
        gap: 1.5rem; 
    }

    .location-content .map {
        width: 100%; 
        max-width: 100%; 
        height: 200px; 
        border-radius: 5px; 
        box-sizing: border-box; 
    }

    .location-content .info {
        border-radius: 5px; 
        padding: 1rem; 
        text-align: center; 
    }

    .location-content .info h3 {
        font-size: 2rem; 
    }

    .location-content .info .find-us {
        font-size: 0.9rem; 
    }

    .location-content .info .eytho-logo img {
        width: 200px; 
        right: -5rem; 
    }

    .location-content .info a {
        padding: 8px 15px; 
        font-size: 0.9rem; 
    }

    .location h1 {
        font-size: 3rem; 
    }

    .location .support-text {
        font-size: 1rem; 
        padding-bottom: 1rem; 
    }

    .location .addres {
        flex-direction: column; 
        gap: 1rem; 
    }

    .location .located {
        font-size: 14px; 
        gap: 1rem; 
    }

    .location .located svg {
        width: 30px; 
        height: 30px; 
    }






    .footer {
        padding: 20px 10px; 
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .footer .footer-wrapper {
        padding-inline: 1rem; 
        flex-direction: column; 
        gap: 15px; 
    }

    .footer-content {
        flex-direction: column; 
        gap: 15px; 
    }

    .footer-section {
        min-width: 100%; 
        text-align: center; 
    }

    .footer-logo {
        width: 200px; 
        margin: 0 auto 15px auto; 
    }

    .footer-section h4 {
        font-size: 1rem; 
        margin-bottom: 8px;
    }

    .footer-section p {
        font-size: 12px; 
        line-height: 1.4; 
    }

    .footer-section ul li {
        margin-bottom: 5px; 
    }

    .footer-section ul li a {
        font-size: 12px; 
    }

    .social-icons a {
        font-size: 16px; 
        margin-right: 5px; 
    }

    .footer-bottom {
        flex-direction: column; 
        text-align: center; 
        gap: 10px; 
        font-size: 12px; 
    }

    .footer-bottom a {
        font-size: 12px; 
    }
}
